<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Vendease
                    </a>
                </li>
                <li>
                    <a href="https://www.mjstack.com.ng">
                        About Me
                    </a>
                </li>
               
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            made with love by
            <a href="https://www.mjstack.com.ng" target="_blank">Meshach Joseph</a> for a better web.
        </div>
    </div>
</footer>
