
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/b1f0e680702e811aa8ba333cb19c0e0ea95e8e31.png"/>
                <span class="badge badge-pill badge-success" >.</span>
            </div>
            <strong>thomas</strong>
    </a>
</div>
<div class="sidebar-wrapper">
   <span class="chat">Chats</span> 
        <div class="logo-img1">
          <img src="/assets/img/775db5e79c5294846949f1f55059b53317f51e30.png"/>
              <span class="badge badge-pill badge-success pill-1">.</span>
          </div>
          <div class="pill-1-text">
              <strong>santiago</strong>
            </div>
            <p class="txt-1">Typing...</p>

            <div class="logo-img2">
                <img src="/assets/img/8bc2e13b8ab74765fd57f0880f318eed1c3fb001.png"/>
                    <span class="badge badge-pill badge-success pill-2">.</span>
                </div>
                <div class="pill-2-text">
                    <strong>chiumbo</strong>
                  </div>
                  <p class="txt-2">Sure! What time?</p>
                  <span class="badge badge-pill badge-primary pill-2">1</span>

                  <div class="logo-img3">
                    <img src="/assets/img/6c4faa7d65bc24221c3d369a8889928158daede4.png"/>
                        <span class="badge badge-pill badge-secondary pill-3">.</span>
                    </div>
                    <div class="pill-3-text">
                        <strong>hauling</strong>
                      </div>
                      <p class="txt-3">😅😅😅</p>
                      <span class="badge badge-pill badge-primary pill-3">12</span>

                  <div class="logo-img4">
                    <img src="/assets/img/68f55f7799df6c8078a874cfe0a61a5e6e9e1687.png"/>
                        <span class="badge badge-pill badge-secondary pill-4">.</span>
                    </div>
                    <div class="pill-4-text">
                        <strong>ashanti</strong>
                      </div>
                      <p class="txt-4">Sent photo</p>

                  <div class="logo-img5">
                    <img src="/assets/img/d9fc84a0d1d545d77e78aaad39c20c11d3355074.png"/>
                        <span class="badge badge-pill badge-secondary pill-5">.</span>
                    </div>
                    <div class="pill-5-text">
                        <strong>julia</strong>
                      </div>
                      <p class="txt-5">Do you have any plans?</p>

                  <div class="logo-img6">
                    <img src="/assets/img/9e2972c07afac45a8b03f5be3d0a796abe2e566e.png"/>
                        <span class="badge badge-pill badge-secondary pill-6">.</span>
                    </div>
                    <div class="pill-6-text">
                        <strong>julia</strong>
                      </div>
                      <p class="txt-6">Any meetings?</p>
</div>
