<div class="main-content">
  <div class="container-fluid">
          <div class="logo-santio1">
            <img src="/assets/img/775db5e79c5294846949f1f55059b53317f51e30.png/">
            </div>
            <div class="santio-1">
              <strong>santiago 10:45</strong>
            </div>
            <span class="badge badge-primary santio-pill1">Where are you from? </span>
      
            <div class="santio-2">
              <strong>10:51</strong>
            </div>
            <span class="badge badge-secondary santio-pill2">I'm from New York</span>

            <div class="logo-santio3">
              <img src="/assets/img/775db5e79c5294846949f1f55059b53317f51e30.png/">
              </div>
              <div class="santio-3">
                <strong>santiago 10:55</strong>
              </div>
              <span class="badge badge-primary santio-pill3">Share photo of your city, please </span>

              <div class="logo-santio4">
                <img src="/assets/img/8e139d5d8b543709f38bfdad03113d663580f08d.png/">
                </div>
                <div class="santio-4">
                  <strong>10:58</strong>
                </div>
                <div class="logo-santio5">
                  <img src="/assets/img/775db5e79c5294846949f1f55059b53317f51e30.png/">
                  </div>

                  <div class="logo-santio6">
                    <img src="/assets/img/775db5e79c5294846949f1f55059b53317f51e30.png/">
                    </div>
                    <div class="santio-6">
                      <strong>santiago</strong>
                    </div>
                    <span class="badge badge-primary santio-pill6">. . .</span>
                    <div class="input">
                      <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Type something...</mat-label>
                          <input matInput>
                          <mat-icon matSuffix>sentiment_satisfied</mat-icon>
                          <mat-icon matSuffix>file_copy</mat-icon>
                        </mat-form-field>
                      </form>
                    </div>
      </div>
</div>

